.header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(/img/lawn.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    .header_overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(28, 53, 45, .8);
        position: absolute;
        z-index: 2;
    }

    .header_content {
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        h1 {
            color: #fff;
            font-size: 3.5rem;
            font-weight: 800;
            text-transform: uppercase;
        }

        p {
            color: #fff;
            font-size: 1rem;
        }

        .btn-outline-primary {
            color: #fff;
            border-color: #fff;
            text-transform: uppercase;
            background-color: darkgreen;
            &:hover{
                color: #fff;
            }
        }
    }
}
.header2{
    padding: 20px 0;
    .container{
        display: flex;
        justify-content: space-between;
    }
    &__logo{
        font-size: 2.3rem;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__menu{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__menu-link{
        text-decoration: none;
        color: rgba(54, 116, 54, 1);
        padding: 20px;
        font-weight: 600;
        &:hover, &--active{
            color: #fff;
            background-color: rgba(28, 53, 45, 1);
        }
    }
}
