.quotePage{
    padding: 100px 0;
    h1{
        text-align: center;
        padding-bottom: 50px;
        color: #05492b;
        font-weight: 700;
    }
    h3{
        text-align: center;
        font-weight: 300;
    }
    form{
        padding: 50px 50px;
        background-color: #fbfaf6;
        label{
            padding-bottom: 10px;
        }
        .f-row{
            padding-bottom: 10px;
        }
        .btn-primary{
            background-color: #05492b;
            margin-top: 20px;
        }
    }
}
