.get_quote{
    padding: 100px 0;
    .top_quote{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        .quote_sale{
            background: #05492b;
            color: white;
            display: flex;
            align-items: center;
            padding: 20px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            .big{
                font-size: 1.6rem;
                font-weight: 800;
                padding-right: 10px;
            }
        }
    }
    .quote{
        background-color: #fbfaf6;
        padding: 50px;
        h2{
            text-transform: capitalize;
            color: #05492b;
        }
        .form-group{
            padding-bottom: 20px;
        }
        .btn{
            background: #05492b;
        }
    }
}

.review{
    padding: 100px 0;
}
